{# charge le theme bootstrap si le formulaire est présent #}
{% if formReservation is defined %}
    {% form_theme formReservation with ["bootstrap_3_horizontal_layout.html.twig"] %}
{% endif %}
<div role="tabpanel" class="panel panel-default tab-pane panneau-principal {% if etape == 2 %}active slideApparition{% endif %}" id="reservation" {% if nombreVisiteursSelonDates is defined %}data-visiteurs="{{ nombreVisiteursSelonDates }}"{% endif %} >




    <div class="panel-heading" >
        <h2 class="panel-title" >Réservation</h2 >
    </div >
    <div class="panel-body" >
        <p >Merci de remplir le formulaire ci-dessous :</p >

        {% if formReservation is defined %}
            {{ form_start(formReservation, {'attr': {'action': path('reservation'), 'id': 'formReservation', novalidate: 'novalidate'}}) }}
            {{ form_widget(formReservation) }}
            {{ form_end(formReservation) }}
        {% endif %}

        <div class="alert alert-info" role="alert">Les billets vous seront envoyés sur votre adresse mail, merci de fournir une adresse mail valide</div>



    </div >

</div >
