footer{
	padding: 7px;
	height: 35px;
	background-color: #333;
	color: white;
}	

.contenuPrincipal{
	max-width: 700px;
	min-width: 350px;
	background-color: rgba(255,255,255,0.6);
	margin: 30px auto;
	padding: 15px;
	border-radius: 10px;
}
